/* Standard practice is to start with the main HTML elements (and their classes) and then move to other classes and ids */


/* Universal Styling */
html, body {
	padding: 0;
  margin: 0; /* Set margin and padding to 0 to take away default margins and padding that the browser adds. This makes the design look closer to the same cross browser. Look at the Box Model slide for more info. */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; /* Show how to import fonts from https://fonts.google.com/ */
  /* Default fonts, this is a web safe font stack. Font stacks typically contain 3-4 fonts*/ /* On the note of the sans-serif... Pairing serifs with sans-serifs are basic guidelines for design.*/
  color: #202020; /* Hex colors that have two alternating values are always gray! The higher the numbers get, the lighter the color. Try to use an online contrast checker to make sure the colors you choose pass contrast guidelines for easy reading and universal usability.*/
  letter-spacing: 1.08px; /*letter-spacing, usually called tracking by typographers, refers to a consistent degree of increase (or sometimes decrease) of space between letters*/
}

.flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  padding: 5em 2em 5em 2em;
}

.intro,
.call-to-action {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5em 2em;
}


/* Intro Section */
.intro>h1 {
  font-size: 25px;
}

.intro>h2 {
  font-size: 35px;
  line-height: 0;
}


/* Purpose Section */
.purpose {
  background-color: #BA9AFB;
}

.purpose-texts {
  width: 320px;
  margin-right: 7em;
}

.smartphone-icon {
  position: relative;
  right: 20px;
}


/* About Me Section */
.cardinal-logo, .gdi-logo {
  height: 150px;
  position: relative;
}

.cardinal-logo {
  bottom: 35px;
}

.gdi-logo {
  top: 35px;
}

.about-texts {
  margin-left: 7em;
  width: 320px;
  text-align: right;
}

.cs-link {
  color: #2984D0;
  text-decoration: none;
}

.gdi-link {
 color: #F05C61;
 text-decoration: none; 
}


/* Call to Action Section */
.call-to-action {
  background-color: #BA9AFB;
}

.call-to-action>a {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

button {
  border-style: none;
  cursor: pointer;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: white;
  font-weight: 500;
}

.action-texts {
  width: 320px;
  text-align: center;
}


/* Social Media Section */ 
.social-media {
  font-weight: 600;
}

.social-media-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
}

.social-media-list>li {
  font-size: 10px;
  margin: 5px;
}

.social-media-list>li>a {
  text-decoration: none;
  color: #AA7FFE;
}


/* Breakpoints */
@media (max-width: 980px) {
  .flex-grid {
    display: block;
  }
  .col {
    margin: auto;
    text-align: center;
    padding: 3em;
  }
}